body {
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('../images/background.jpg');
}

div, body, .ss-base-body {
  font-family: "PT Sans Narrow";
    font-size: 19px;
}

.brand {
    color: yellow;
}

.brand span, h1 span {
    color: #0d0;
}

#place .span7 {
    color: white;
    text-shadow: 1px 1px 3px #000;
}

#YMapsID-2326 {
    box-shadow: 1px 1px 3px #000;
}

#registration {
    padding-top: 20px;
}

#registration > .row {
    background-color: #fff;
    box-shadow: 1px 1px 3px #000;
    margin-bottom: 30px;
    padding-bottom: 50px;
}

.fb-like-box {
  padding: 20px 0px;

}

.img-polaroid {
    float: left;
    margin: 10px 10px 10px 0px;
}

.gradient {
    background-image: -webkit-linear-gradient(top, transparent 0%, #fff 800px);
}

.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 99% !important;
    max-width: 370px;
}